/* IMOPORT FONTE DO GOOGLE (ROBOT 400, 500) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* IMPORT FONTE DO GOOGLE (COOKIE 400)*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* IMPORT ICON FROM BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* NORMALIZAR ESTILO GLOBAL */
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* VARIAVEL DE AMBIENTES */
:root {

    /* SIZE */
    --absolute-perc: 100%;
    --absolute-width: 100vw;
    --absolute-heigth: 100vh;

    --absolute-zero-size: 0px;
    --absolute-zero-perc: 0%;

    --height-16-perc: 16%;
    --height-30-perc: 30%;
    --height-70-perc: 70%;

    --size-space-btn: 2px;

    --border-radius-btn: 5px;

    --padding-input-default: 15px;

    /* COLOR */
    --white-primary: white;
    --white-secondary: #f3f3f3;
    --white-contraste: #f6f6f6;
    --white-contraste-hover: #f1f1f1;

    --black-primary: #343a40;
    --black-secondary: #494846;

    --gray-primary: #616161;
    /* FONT */
    --size-icon-default: 20pt;
    --size-font-default: 22pt;
}

/* NORMALIZA DIMENSAO PAGINA */
body {
    width: var(--absolute-width);
    height: var(--absolute-heigth);
}

/* NORMALIZA AS SECTION */
section {
    width: var(--absolute-perc);
}
.section-center {
    width: 70% !important;
    height: 90% !important;
    padding: 5px;
}
.section-calc-1 {
    position: relative;
    height: var(--absolute-perc);
}

/* NORMALIZA O MAIN */
main {
    width: var(--absolute-perc);
    background: var(--white-secondary);
}
.main-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--absolute-perc);
}

/* NORMALIZA DISPLAY MASTER */
.display-master {
    height: var(--height-30-perc);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.display-master > div {
    width: var(--absolute-perc);
    margin: var(--absolute-zero-size);
    padding: var(--absolute-zero-size);
}
.display-master > div > div {
    height: var(--absolute-perc);
    margin: var(--absolute-zero-size);
    padding: var(--absolute-zero-size);
}
.display-master > div > div > input:nth-child(0) {
    color: var(--gray-primary) !important;
    border: 0px transparent;
    background: transparent;
    font-size: var(--size-font-default);
    height: var(--absolute-perc);
    margin: var(--absolute-zero-size);
    padding: var(--absolute-zero-size);
    border-radius: var(--absolute-zero-size);
    padding: var(--padding-input-default);
    text-align: end;
    padding: var(--padding-input-default);
}

/* NORMALIZA DISPLAY BOTOES */
.btn-master {
    height: var(--height-70-perc);
}
.column-btn {
    height: calc(100%/6 - 0%);
    width: var(--absolute-perc);
    margin: var(--absolute-zero-size);
    padding: var(--absolute-zero-size);
}
.column-btn > div {
    margin: var(--absolute-zero-size);
    padding: var(--absolute-zero-size);
    padding: var(--size-space-btn);
}
.column-btn > div > button {
    font-size: var(--size-font-default);
    font-size: var(--size-font-default);
    height: var(--absolute-perc);
    width: var(--absolute-perc);
    border-radius: var(--absolute-zero-size);
    border-radius: var(--border-radius-btn);
}
.column-btn > div > button.btn-contraste {
    background: var(--white-primary)
}
.column-btn > div > button:hover {
    background: var(--white-contraste-hover);
}
.column-btn:nth-last-child(1) > div:nth-last-child(1) > button:nth-last-child(1) {
    background: var(--black-primary);
    font-size: var(--size-font-default);
    height: var(--absolute-perc);
    width: var(--absolute-perc);
    border-radius: var(--absolute-zero-size);
    border-radius: var(--border-radius-btn);
}

/* NORMALIZA MENUBAR */
.menubar-master {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

/* NORMALIZA TODAS AS LISTA */
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* WIDTH ABSOLUTE */
.wdt-absolute {
    width: var(--absolute-perc);
}

/* HEIGTH ABSOLUTE */
.hgt-absolute {
    height: var(--absolute-perc);
}

/* REMOVER MARGIN E PADDING DO BOOTSTRAP */
.none-margin {
    margin: var(--absolute-zero-size);
}
.none-padding {
    padding: var(--absolute-zero-size);
}

/* REMOVER TODOS ESTILOS DE BORDA E BACKGROUD BOOTSTRAP */
.none-style-backgroud {
    border: 0px transparent;
    background: transparent;
    text-align: end;
    padding: var(--padding-input-default);
}

/* ESTILO DE ELEMENTO DISABILITADO */
*:disabled {
    background: transparent !important;
}

/* PADDING INPUT DEFAULT */
.input-padding-default {
    padding: var(--padding-input-default);
}

/* REMOVER BORDER DO BOOTSTRAP */
.none-border-radius {
    border-radius: var(--absolute-zero-size);
}

/* NORMALIZA FONT ICON BOOTSTRAP */
i.bi {
    font-size: var(--size-icon-default);
}

/* TEXT DEFAULT */
.font-default {
    font-size: var(--size-font-default);
}
.font-ajust-display {
    font-size: 50pt;
}

/* EXPOENTE CARACTER ESPECIAL */
.font-expo {
    font-family: 'Cookie', cursive;
}

/* BORDA DEFAULT BOTAO SELETOR */
.btn-border-default {
    border-radius: var(--border-radius-btn);
}

/* ELEMENTOS DA DIREITA PARA ESQUERDA */
.text-end {
    text-align: end;
}

/* LISTA DE CIMA PARA BAIXO [MENUBAR] */
.menubar-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 10px 10px;
}
.menubar-list > li {
    background: var(--white-contraste);
    margin: 0 10px 10px 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
}
.menubar-list > li > i {
    margin: 5px;
}
.menubar-list > li > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px 0 10px;
}
.menubar-list > li:hover {
    color: var(--white-primary);
    background: var(--black-primary);
}